{% extends 'student/dashboard.html' %}

{% block content %}

<h2>{{group.name}}</h2>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->

            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teachers:gruh' group.id %}">Darslar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'teachers:homework' group.id %}">Uyga vazafalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Yo'qlama</a>
                </li><li class="nav-item">
                    <a class="nav-link" href="{% url 'teachers:student' group.id %}">O'quvchilar</a>
                </li>
            </ul>
               <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a href="{% url 'teachers:create_lesson' group.id %}" class="btn btn-outline-success">Create lesson</a></li>
               </ul>

            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->


    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<br>
<table class="table">
    <thead>
    <tr>

        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col"> Status</th>

    </tr>
    </thead>
    <tbody>
    {% for lesson in lessons %}
    <tr class="table-danger">
        {% if lesson.title %}
        <th scope="row">{{lesson.title}}</th>
        {% else %}
        <th scope="row">{{lesson.description}}</th>
        {% endif %}
        <td>{{lesson.date}}</td>
        <td></td>

    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock content %}