

{% extends 'base.html'  %}

{% block content %}


<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>

        <th>Title</th>
        <th>Status</th>

        <th>Students</th>
    </tr>
    </thead>
    <tbody>
    {% for group in groups %}
    <tr>

        <td>
            <p class="fw-normal mb-1">{{group.name}}</p>

        </td>
        <td>
            <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        
        <td>
            <a href="{% url 'system:student_by_group' group.id %}" class="btn btn-link btn-sm btn-rounded">
               Show students
            </a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock content %}

